@import 'config';

.action-bar {
   
   opacity: 0.8;
   @include transition(opacity, 0.3s, linear);

   &:hover {
   opacity: 1;
   }

   .actions {
      position: absolute;
      top: 0;
      right: 0;

      /*overriding bulma's button styles*/
      .button {
         height: 2.1em;
         width: 20px;
         margin: 4px 3px;
         border-radius: 50%;
      }
      
      .is-small {
         font-size: 0.7em;
      }

      /*overriding bulma's tooltip styles*/
      [data-tooltip]:not(.is-disabled):before,
      [data-tooltip]:not(.is-loading):before,
      [data-tooltip]:not([disabled]):before {
               padding: .3rem;
               line-height: 1;
               border-radius: 3px;
               margin-top: -7px;
            }
   }

   .language-selector {
      position: absolute;
      top: 0;
      left: 0;
   
      .button {
         height: 32px;
         background-color: transparent;
      }

      .dropdown-menu {
         min-width: 8.7rem;

         .dropdown-content {
            background-color: #3a3f4480;
         }
      }
   }
}




