@import 'config';

.add-cell {
   position: relative;
   opacity: 0.1;
   @include transition(opacity, 0.3s, ease-in, 0.05s);
   margin: 8px 0;

   &:hover {
      opacity: 1;
   }

   .divider {
      position: absolute;
      top: 50%;
      bottom: 50%;
      right: 3%;
      left: 3%;
      border-bottom: 1px dashed gray;
      width: 94%;
      z-index: -1;
   }
   .add-buttons {
      display: flex;
      justify-content: center;

      button {
         margin: 0 10px;
         color: $secondary-color;
      }
   }
}

.add-cell.force-visible {
   opacity: 1;
}

.add-cell.add-cell-focused {
   opacity: 1;
}

