@import 'config';

.editor-wrapper {
   position: relative;
   height: 100%;
   width: calc(100% - 13px); /*13 px is the width of the size handle - see Resizable.scss*/

   .button-format {
      position: absolute;
      opacity: 0;
      z-index: 5;
      right: 15px;
      width: 70px;
      @include transition(opacity, 0.3s, linear);
      
      &:first-of-type {
         top: 5px; 
      }
      &:last-of-type {
         bottom: 5px;
      }
   }

   &:hover {
      .button-format {
      opacity: 0.8;
      }
   }
}




