@import 'config';

.action-bar {
   position: absolute;
   top: 0;
   right: 0;
   opacity: 0.8;
   @include transition(opacity, 0.3s, linear);

   &:hover {
   opacity: 1;
   }

   /*overriding bulma's button styles*/
   .button {
      height: 2.1em;
      width: 20px;
      margin: 4px 3px;
      border-radius: 50%;
   }
   
   .is-small {
      font-size: 0.7em;
   }
}
