.editor-wrapper {
   position: relative;
   height: 100%;
   width: calc(100% - 13px); /*13 px is the width of the size handle - see Resizable.scss*/

   .button-format {
      position: absolute;
      top: 5px;
      right: 15px;
      z-index: 5;
      opacity: 0;
      transition: opacity 0.3s;
   }

   &:hover {
      .button-format {
      opacity: 1.0;
      }
   }
}




