@import 'config';

/*to be able to drag and resize window over the iframe*/
.react-draggable-transparent-selection iframe {
   pointer-events: none;
}

.preview-wrapper {
   position: relative;
   height: 100%;
   flex-grow: 1;

   iframe {
      background-color: $bg-color;
      height: calc(100% - 7px); /* because the iframe goes over bounds when the handle is dragged to minimal width*/
      width: 100%;
   }
}

.preview-error {
   position: absolute;
   top: 20px;
   left: 10px;
   color: red;
   font-family: 'Times New Roman', Times, serif;
}